
.p {
    font-family: BalooTamma;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 83px;
    text-align: center;

    color: #FFFFFF;
}
.outerCircle {
    border: 5px solid #FF7777;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    min-width: 70px;
    min-height: 70px;
    max-width: 120px;
    max-height: 120px;

    height: 10vw;
    width: 10vw;

    text-align:center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.innerCircle {
    /* pink */
    background: #FF7777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: none;

    min-width: 54.82px;
    min-height: 54.82px;
    max-width: 93.98px;
    max-height: 93.98px;

    height: 7.83vw;
    width: 7.83vw;

    display: inline-block;
    margin: 0 auto;

    font-family: BalooTamma;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 83px;
    text-align: center;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
}

/* .circleContainer{
    width: 10vw;
    height: 10vh;
} */

.unavailable {
    /* width: 10vw;
    height: 10vh; */

    opacity: 50%;
}

.image {
    position: absolute;
    background-color: transparent;

    width: 8vw;
    height: 8vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
}

.transparent {
    background-color: transparent;
}

.text {
    color: white;
    /* width: 8vw; */
    max-width: 400px;
    min-width: 200px;
    /* max-height: 50px; */
    text-align: center;
    margin: 5px;
    
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .text {
        display: none !important;
    }
}

.textRight {
    position: absolute;
    left: 110%;
    top: 0px;
}

.textLeft {
    position: absolute;
    left: -90%;
    top: 0px;
}

.textTop {
    position: absolute;
    top: -90%;
    left: 10%px;
}

.textBottom {
    position: absolute;
    top:110%;
}
