.container {
  position:fixed;
  width:14vw;
  height:auto;
  min-width: 50px;
  min-height: 50px;
  right:20px;
  top:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar {
  position: fixed;
  min-width: 50px;
  width: 3vw;
  height: auto;
  right: 6vw;
  top: 2vw;
  cursor: pointer;
}

.speaker {
  position: fixed;
  cursor: pointer;
  min-width: 50px;
  width: 3vw;
  height: auto;
  right: 2vw;
  top: 2vw;
  cursor: pointer;
}

.dropdown {
  position: fixed;
  display: none;
}



